.item {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 92%;
  margin-left: 9px;
  padding: 0 16px;
  svg {
    width: 21px;
  }
}

.collapsedRedesigned {
  padding: 0 8px;

  .link {
    opacity: 0;
    width: 0;
    margin: 0;
  }
}

.active {
  background: var(--light-bg-active);
  position: relative;
  border-radius: 20px;
  color: var(--code-bg);

  &:hover {
    color: var(--code-bg);
  }

  svg {
    fill: var(--code-bg);
  }
}
