.Wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  background: var(--inverted-bg-color);
}

.option {
  background: var(--inverted-bg-color);
}
